<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pied de page</title>
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <footer class="footer">
        <p>Copyright 2025 Tout droit resérvés</p>
    </footer>
</body>
</html>