<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire du programme TV</title>
</head>
<body>
    <h1>Remplissage de Formulaire du programme TV</h1>

    <label>Heure</label>
    <input type="time" id="heure">

    <label>Genre</label>
    <select id="genre">
    <option value=""></option>
    <option value="chigoma">Chigoma</option>
    </select>


</body>
</html>