<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de navigation</title>
    <link href="css/navbar.css" rel="stylesheet">
    
</head>
<body>
    
    <header>
        <nav class="entete">
            <ul>
                <li><a href="apropos" target="_blank">L'équipe</a></li>
                <li><a href="programmeTv" target="_blank">Le programme Tv</a></li>
                <li><a href="formulaireProgrammeTv" target="_blank">Formulaire programme TV</a></li>
                <li><a href="login" target="_blank">Connexion</a></li>
            </ul>    
        </nav>

        
    </header>
</body>
</html>