<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<%- include('navbar') %>

    <form action="/inscription" method="post">
        <input type="hidden" name="id" id="id">

        <div class="Connexion">
            <h1>Inscription</h1>
    
            <div class="personne">
                <label>Nom :</label>
                <input type="text" name="identifiantnom" id="nom" required> 
                <br><br>
            </div>
    
            <div class="personne">
                <label>Prénom :</label>
                <input type="text" name="identifiantprenom" id="prenom" required> 
                <br><br>
            </div>

            <div class="personne">
                <label>Email :</label>
                <input type="email" name="identifiantmail" id="email" required> 
                <br><br>
            </div>

            <div class="personne">
                <label>Date de naissance :</label>
                <input type="date" name="identifiantnaissance" id="datenaissance" required> 
                <br><br>
            </div>

            <div class="personne">
                <label>Mot de passe :</label>
                <input type="password" name="mdp" id="mdp" required>
                <br><br>
            </div>
    
            <div class="bouton">
                <input type="submit" value="Envoyez" id="boutonentrer" required>
                <br><br>
            </div>
    
            <div class="oubliemdp">
                <a href="login" target="_blank">Connexion</a>
            </div>
        </div>    
    </form>

<%- include('footer') %>

</body>
</html>