<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<%- include('navbar') %>

    <form>
        <div class="Connexion">
            <h1>Inscription</h1>
    
            <div class="personne">
                <label>Nom :</label>
                <input type="text" name="identifiant" id="identifiant" required> 
                <br><br>
            </div>
    
            <div class="personne">
                <label>Prénom :</label>
                <input type="text" name="identifiant" id="identifiant" required> 
                <br><br>
            </div>

            <div class="personne">
                <label>Email :</label>
                <input type="email" name="identifiant" id="identifiant" required> 
                <br><br>
            </div>

            <div class="personne">
                <label>Date de naissance :</label>
                <input type="date" name="identifiant" id="identifiant" required> 
                <br><br>
            </div>

            <div class="personne">
                <label>Mot de passe :</label>
                <input type="password" name="mdp" id="mdp" required>
                <br><br>
            </div>
    
            <div class="bouton">
                <input type="submit" value="Se connecter" id="entrer" required>
                <br><br>
            </div>
    
            <div class="oubliemdp">
                <a href="#">Mot de passe oublié ?</a>
            </div>
        </div>    
    </form>

<%- include('footer') %>

</body>
</html>